
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">{{item.tier}}</h5>
            <h6 class="card-price text-center">{{item.price}}<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul" *ngFor="let listItem of item.list;index as i">
              <li >
              <span [ngSwitch]="item.tier">
                    <span *ngSwitchCase="'free'">
                             <span *ngIf="free(item,i); else elseBlock"> <span class="fa-li" ><i class="fas fa-times"></i></span></span>    
                             <ng-template #elseBlock><span class="fa-li" ><i class="fas fa-check"></i></span></ng-template>
                             <span [ngClass]="textMuted(item,i)">{{listItem}}</span>
                    </span>
                    <span *ngSwitchCase="'Plus'">
                             <span *ngIf="plus(item,i); else elseBlock"> <span class="fa-li" ><i class="fas fa-times"></i></span></span>    
                            <ng-template #elseBlock><span class="fa-li" ><i class="fas fa-check"></i></span></ng-template>
                            <span [ngClass]="textMuted(item,i)">{{listItem}}</span>
                    </span>
                     <span *ngSwitchCase="'Pro'">
                             <span *ngIf="plus(item,i); else elseBlock"> <span class="fa-li" ><i class="fas fa-times"></i></span></span>    
                            <ng-template #elseBlock><span class="fa-li" ><i class="fas fa-check"></i></span></ng-template>
                            <span>{{listItem}}</span>
                    </span>

              </span>
             </li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
          </div>
        </div>
   <!--<span class="fa-li"><i class="fas fa-check"></i></span> tick
   <span class="fa-li"><i class="fas fa-times"></i></span> cross
   class="text-muted"-->
