<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css" >
    <title>Document</title>
</head>

<body>
    <section class="pricing py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4" *ngFor="let item of arr">
                    <app-card [item]="item" [common]="common"></app-card>
                </div>
            </div>
        </div>
    </section>
</body>

</html>